<%- include('../partials/header') %>
<%- include('../partials/navbar/navigation') %>

<div class="laundry-status">
<header class="laundry-status-header">
    <h3>Laundry Status</h3>
    <a class="btn" href="/logout" role="button">Log Out</a>
</header>

<main class="mainofLaundryStatus">
    <!--Object.keys(requests).length checks if we receive an empty object, if yes it renders h1 else it renders all the requests -->
    <% if(Object.keys(requests).length == 0) { %>
        <p id="noRequests">No Laundry Request has been made yet.</p>
        <% } else { %>
            <% requests.forEach((request) => { %>   
                <% const {topwear, bottomwear, woolenwear, other, twq, bwq, wwq, oq, pickup, dropoff, description, status, paymentstatus, cost, method} = request %>

                <% const totalQuantity = twq + bwq + wwq + oq %>

                <div class="request-item"> 
                    <label for="items">Items</label>
                    <h4 id="items"><%= topwear %>, <%= bottomwear %>, <%= woolenwear %>, <%= other %><h4>
        
                        <hr>
        
                    <label for="quantity">Quantity</label>
                    <h3 id="quantity"><%= totalQuantity %></h3>
        
                        <hr>
        
                    <label>Pickup & Drop off</label>
                    <h3><%= pickup %> | <%= dropoff %></h3>
        
                        <hr>


                    <label for="price">Cost</label>
                    <h3 id="price"> ₹<%= cost %> </h3>

                        <hr>

                    <label for="paymentStatus">Payment Status</label>
                    <h3 id="paymentStatus"> <%= paymentstatus %> </h3>
                        
                        <hr>
                            
                    <label for="status">Order Status</label>
                    <h3 id="status"><%= status %> </h3>

                        <hr>
                            
                    <label for="paymentmethod">Payment Method</label>
                    <h3 id="paymentmethod"><%= method %> </h3>
                       
                </div>
            <% }); %>
            <% } %>
   
</main>
</div>

<%- include('../partials/footer') %>