<%- include('../partials/header') %>
<%- include('../partials/navbar/navigation') %>

<div class="pricing-container">
  <header class="pricing-header">
    <h3>Pricing</h3>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </header>

  <% const {twc, bwc, wwc, oc} = foundPricing %>

  <main class="pricing-main">
    <table>
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
      <tr>
        <td>Top Wear</td>
        <td>₹<%= twc %></td>
      </tr>
      <tr>
        <td>Bottom Wear</td>
        <td>₹<%= bwc %></td>
      </tr>
      <tr>
        <td>Woolen Wear</td>
        <td>₹<%= wwc %></td>
      </tr>
      <tr>
        <td>Others</td>
        <td>₹<%= oc %></td>
      </tr>
    </table>
  </main>
</div>

<%- include('../partials/footer') %>